body {
    background-color: whitesmoke;
}

h1 {
    background-color: teal;
    margin: 0px;
    padding: 5px;
    text-align: center;
    color: white;
}

#form {
    margin: 50px auto;
    width: 600px;
    height: 300px;
}

#novoUsuario {
    background-color: brown;
    font-weight: bolder;
}

#entrar{
    float: right;
    background-color: blue;
    font-weight: bolder;
}

#salvar{
    float: right;
    background-color: green;
    font-weight: bolder;
}