<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

	<!--Import materialize.css-->
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/anotacao/anotacao.css">
    <title>Anotações</title>
</head>
<body>
    <h1><i class="material-icons prefix">attach_file</i> Minhas anotações</h1>
    
    <div id="menu_bar" class="container">
    	<br>
    	<button id="todas" class="btn" onclick="location.href='/todas'" title="Listar todas">Todas</button>
    	<button id="favoritas" class="btn" onclick="location.href='/favoritas'" title="Listar favoritas">Favoritas</button>
    	<button id="categoria" class="btn" onclick="javascript:novaCategoria()" title="Adicionar categoria">Categoria</button>
    	<button id="sair" class="btn" onclick="location.href='/sair'" title="Sair do sistema">Sair</button>
    </div>
    <br>
    <br>

    <div class="container">
    
    	<form action="/pesquisa" method="POST">
	        <div id="form">
	            <div class="input-field col s12">
	                <i class="material-icons prefix">search</i>
	                <input id="pesquisa" name="pesquisa" type="text">
	                <label for="pesquisa">Pesquisar por titulo</label>
	            </div>
	        </div>
    	</form>
    	
    	<br>
    	<br>
    	
		<div class="input-field col s12, container">
			<select id="categ" onchange="mudarCategoria()">
				<option value="" disabled selected>Selecione a categoria</option>
				<option th:each="categoria :${categorias}" th:value="${categoria.id}" th:text="${categoria.nomeCategoria}"></option>
			</select>
			<label>Categorias</label>
		</div>
		
    	<br>
    	
    	<table class="striped">
    		<thead>
    			<tr style="font-weight: bold;">
    				<td>
    					<a href="/novo-editar?id=0">
    						<i class="small material-icons" title="Adicionar" style="color: green; cursor: pointer;">add_circle</i>
    					</a>
    				</td>
    				<td>Titulo</td>
    				<td>Conteudo</td>
    				<td>Favoritas</td>
    				<td>Categoria</td>
    				<td>Remover</td>
    			</tr>
    		</thead>
    		
    		<tbody>
    			<tr th:each="a : ${anotacoes}">
    				<td>
    					<a th:href="@{/novo-editar(id=${a.id})}">
    						<i class="small material-icons" title="Editar" style="color: blue; cursor: pointer;">build</i>
    					</a>
    				</td>
    				<td th:text="${a.titulo}"></td>
    				<td th:text="${a.conteudo}"></td>
    				<td>
    					<span th:if="${a.favorita == 1}">
    						<i class="small material-icons" style="color: green;">check</i>
    					</span>
    				</td>
    				<td>
    					<span th:if="${a.categoria != null}">
    						<span th:text="${a.categoria.nomeCategoria}"></span>
    					</span>
    				</td>
    				<td
    					<a th:onclick="'javascript:removerAnotacao(' + ${a.id} + ')'">
    						<i class="small material-icons" title="Remover" style="color: red; cursor: pointer;">delete_forever</i>
    					</a>
    				</td>
    			</tr>
    		</tbody>
    	</table>
    </div>
    <br>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/anotacao_index.js"></script>
</body>
</html>